{% extends "fuxi_framework/framework_base.html" %}




{% block content %}


            <div class="row">
                <div class="col-lg-6-full">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            集群online率 (计算公式: 非死机数/机器总数); 其中不带*号的是伏羲统计得出的，带*号的是业务推送的
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>cluster</th>
                                            <th>date</th>
                                            <th>beijing</th>
                                            <th>tucheng</th>
                                            <th>hna</th>
                                            <th>hnb</th>
                                            <th>nanjing</th>
                                            <th>hangzhou</th>
                                            <th>shanghai</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for date, slis in host_slis_dict.items %}
                                        <tr>
                                            <td>
                                                {% with slis|last as first_sli %}{{ first_sli.target }}  {% endwith %}
                                            </td>
                                            <td>{% with slis|last as first_sli %}{{ first_sli.format_date }}{% endwith %} </td>
                                            
                                            {% for sli in slis %}
                                            <td> <a href="/zhongjing/query/deadhosts/{{sli.id}}/" data-toggle="tooltip" title="机器数({{sli.total_num  | stringformat:'d' }})台,点击查看死机列表" > {{ sli.rate}}  </a>  </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6-full">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            服务存活率 (计算公式: running实例数/实例总数); 其中不带*号的是伏羲统计得出的，带*号的是业务推送的
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>service</th>
                                            <th>date</th>
                                            <th>beijing</th>
                                            <th>tucheng</th>
                                            <th>hna</th>
                                            <th>hnb</th>
                                            <th>nanjing</th>
                                            <th>hangzhou</th>
                                            <th>shanghai</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for svr, slis in service_sli_dict.items %}
                                        <tr>
                                            <td>{{ svr }}</td>
                                            <td>{% with slis|first as first_sli %}{{ first_sli.format_date }}{% endwith %}</td>
                                            
                                            {% for sli in slis %}
                                            <td> <a href="/zhongjing/query/deadhosts/{{sli.id}}/" data-toggle="tooltip" title="实例数({{sli.total_num  | stringformat:'d' }}),点击查看异常实例列表" target="_blank" > {{ sli.rate}}   </a>  </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>





{% endblock %}


{% block javascript_src %}

<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% endblock %}
