            <div class="navbar-default-sidemenu sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="active">
                            <a href="/zhongjing/operates/">操作任务详情</a>
                            <a href="/zhongjing/host/detail/">机器任务查询</a>
                            <a href="/zhongjing/host/operate/mount_to_beehive_node">挂载节点</a>
                            <a href="/zhongjing/host/operate/repair_alading_host">阿拉丁维修</a>
                            <a href="/zhongjing/host/operate/reinstall">机器重装</a>
                            <a href="/zhongjing/host/operate/deploy_agent">Agent部署</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->





